* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #5C5C5C;
  padding: 50px;
  margin: 10px; }

pre {
  background: #fff9e6;
  color: #664d00;
  width: auto;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #664d00;
  padding: 5px 10px; }

.pre-router {
  background: #e6ffe6;
  color: #004d00; }

ul {
  list-style: none; }
  ul a {
    text-decoration: none; }
  ul .active {
    border-bottom: 2px solid #664d00; }

.generador {
  background: #ededed;
  border: 1px solid #800000;
  padding: 10px;
  margin: 10px; }
  .generador .generador__menu,
  .generador .generador__content {
    padding: 10px;
    margin: 10px;
    border: 1px solid #990000; }

.pagos {
  border: 1px solid #4d9900;
  background: #f2ffe6;
  padding: 10px;
  margin: 10px; }
  .pagos .pagos__menu,
  .pagos .pagos__content {
    padding: 10px;
    margin: 10px;
    border: 1px solid #80ff00; }

.transferencias {
  border: 1px solid #002080;
  background: #e6ecff;
  padding: 10px;
  margin: 10px; }
  .transferencias .transferencias__menu,
  .transferencias .transferencias__content {
    padding: 10px;
    margin: 10px;
    border: 1px solid #002080; }

.detalle {
  border: 1px solid #800060;
  background: #ffe6f9;
  padding: 10px;
  margin: 10px; }
  .detalle .detalle__content {
    padding: 10px;
    margin: 10px;
    border: 1px solid #800060; }

.ordenes {
  border: 1px solid #009973;
  background: #e6fff9;
  padding: 10px;
  margin: 10px; }
  .ordenes .ordenes__content {
    padding: 10px;
    margin: 10px;
    border: 1px solid #009973; }
